.myIcons-add{
  .mu-fab-button{
    width: 25px;
    height: 25px;
    box-shadow: none;
  }
}
.myIcons-reduce{
  .mu-fab-button{
    width: 25px;
    height: 25px;
    box-shadow: none;
  }
}
#profile{
  .mu-list{
    padding: 0;
    box-shadow: 0 0 0.5rem #EAF6FB;
    border-radius: 10px;
  }
  .mu-item{
    padding: 6px 0 6px 1rem;
  }
}

