.myCarousel{
  .mu-carousel-indicator-button{
    margin: 0;
    width: 20px;
    height: 20px;
  }
  .mu-carousel-indicator-icon{
    width: 8px;
    height: 8px;
  }
}
.myIcons-add{
  .mu-fab-button{
    width: 20px;
    height: 20px;
    box-shadow: none;
  }
}
.myIcons-reduce{
  .mu-fab-button{
    width: 20px;
    height: 20px;
    box-shadow: none;
  }
}
#profile{
  .mu-list{
    padding: 0;
    box-shadow: 0 0 0.5rem #EAF6FB;
    border-radius: 10px;
  }
  .mu-item{
    padding: 6px 0 6px 1rem;
  }
  .mu-paper-round{
    border-radius: 10px;
  }
}
.mu-input-help{
  line-height: 0;
  top: 55px;
}
.donationcount{
  .material-icons{
    vertical-align: middle;
  }
  .mu-text-field-input{
    margin: 0.5rem 1rem;
    border-radius: 5px;
  }
}

